@charset "utf-8";
body
{
    background-image: linear-gradient(to right, #7FC9D6 0%, #7FC9D6 100%);
   
}
@font-face {
  
    font-family: "Titulo";
    src: url(Fontes/daydream\ FREE.ttf)
}
h1
{
    font-family: "Titulo";
    color:aliceblue;
    font-size: 7em;
    text-align: center;
    padding-top: 30px;
}


@font-face {
    font-family: "padrao";
    src: url(../HalfCat/Fontes/creato_display/CreatoDisplay-Thin.otf);
}
.content {
    display: none;
}

.Introducao
{
    font-family: "padrao";
    font-size: 17px;
    text-align:justify;
}

@font-face {
    font-family: "Topicos";
    src: url(Fontes/StropicaDEMO.otf)
}
.paragrafos{
    background-color:#e4f2f7;
    margin-left: 80px;
    padding: 30px;
    border-radius: 15px;
    text-indent: 4em;
    flex-direction: row;
    width: 85%;
    justify-content: center;
    color: #000;
    margin-top: 10px;
}

#Menu{
    display: flex;
    margin-left: 70px ;
    margin-right: 70px;
    font-size: 25px;
    color: aliceblue;
    padding: 50px;
    display: flex;
}
#Projeto
{
    font-family: "padrao";
    font-size: 17px;
    text-align:justify;
    background-color:#e4f2f7;
    padding: 50px;
    border-radius: 10px;
    text-indent: 4em;
    flex-direction: row;
    width: 85%;
    color: #000;
}
#Sumario
{
    
    font-size: 20px;
    padding-top: 10px;
    display: inline-block;
    width: 120px;
    height: 470px;
    background-color: #e4f2f7;
    text-align:left;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 40px;
    
    position: relative;
    text-decoration: none; 
}
li{
    height: 40px;
    padding-top: 26px;
}
a{
    text-decoration: none;
    color: white;
}
.VideoFundo
{
    background-color:#e4f2f7;
    padding-top: 30px;
    border-radius: 20px;
    display:flex;
    width: 300px;
    padding-left: 30%;
}
.Lista{
    color: #000;
    background-color:aliceblue;
    border-radius: 8px;
}
#Contato{
    margin-top: 75px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    margin-left: 700px;
    margin-right: auto;
    background-color: #47818B;
    color: #e4f2f7;
    font-family: "Topicos";
    font-size: 25px;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

#Contato:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);   
}
    
#FaleConosco{
    background-color: #e4f2f7;
    width: 500px;
    margin-top: 161px;
    margin-right: auto;
    margin-left: 532px;
    border-radius: 10px;
    padding: 20px;
    font-family: "padrao";
    color: #000;
    text-align: center;
}
@font-face {
    font-family:"Fale Conosco";
    src: url(Fontes/creato_display/CreatoDisplay-Bold.otf);
}
.Face
{
    display: flex;
    justify-content: space-around;
    padding-right: 22%;
}
.button
{
    flex-direction: column;
    display: flex;
    justify-content:space-evenly;
    background-color: aliceblue;
    width: 140px;
    height: 480px;
    border-radius: 13px;
    align-items: center;
}
button{
    margin: auto;
    margin-bottom: 30px;
    font-family: "Topicos";
    font-size: 17px;
    border-radius: 7px;
    transition-duration: 0.4s;
    margin-top: 15px;
    border: none;
    padding: 3px;
    flex-direction: column;
    display: flex;
    justify-content:space-evenly;
    background-color: aliceblue;
    align-items: center;
    
}
button:hover {
    background-color: #5BA5B2; 
    color: white;
}

.tab-buttons{
    display: flex;
    align-items:center;
    margin: 50px;
    transition-duration: 0.4s;
}

.tab-buttons:hover {
    background-color: #7FC9D6; 
    color: white;
}

.tab-btn1{
    display: flex;
    background-color:#5BA5B2; 
}

.tab-btn2{
    display: flex;
    background-color:#47818B;
}

.tab-btn3{
    display: flex;
    background-color:#2E707B;
}
#Menu{
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

