@charset "utf-8";
body
{
    background-image: linear-gradient(to right, #7FC9D6 0%, #7FC9D6 100%);
}
@font-face {
  
    font-family: "cursive";
    src: url(../HalfCat/Fontes/better_4/better\ -\ Peronal\ Use.otf);
}
h1
{
    font-family: "cursive";
    color: azure;
    font-size: 3em;
    text-align: center;
}

@font-face {
    font-family: "padrao";
    src: url(../HalfCat/Fontes/creato_display/CreatoDisplay-Thin.otf);
}
#Introducao
{
    font-family: "padrao";
    font-size: 17px;
    text-align:justify;
    background-color:#5BA5B2;
    padding: 50px;
    border-radius: 10px;
    text-indent: 4em;
    flex-direction: row;
    width: 85%;
    justify-content: center;
}

@font-face {
    font-family: "Topicos";
    src: url(../HalfCat/Fontes/creato_display/CreatoDisplay-Black.otf);
}
.paragrafos{
    display: flex;
    justify-content: center;
}

#Menu{
    display: flex;
    margin-left: 70px ;
    margin-right: 70px;
    
}
#Inicio
{
    color: black;
    background-color: #5BA5B2;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Topicos";
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 33%;
}
#SobreOSite
{
    color:black;
    background-color: #47818B;
    border-radius: 10px;
    font-family: "Topicos";
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Topicos";
    flex-direction: row;
    position: relative;
    padding: 10px;
    width: 33%
}
div#SobreNos
{
    color:black;
    background-color: #2E707B;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Topicos";  
    flex-direction: row;
    position: relative;
    padding: 10px;
    width: 33%;
}
#WhiteCat
{
    font-family: "padrao";
    font-size: 17px;
    text-align:justify;
    background-color:#47818B;
    padding: 40px;
    border-radius: 10px;
    text-indent: 4em;
    width: 85%;

}
#Projeto
{
    font-family: "padrao";
    font-size: 17px;
    text-align:justify;
    background-color: #2E707B;
    padding: 50px;
    border-radius: 10px;
    text-indent: 4em;
    flex-direction: row;
    width: 85%;
}
#Sumario
{
    padding-top: 5px;
    display: inline-block;
    width: 100px;
    height: 470px;
    background-color: #e4f2f7;
    text-align:left;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    margin-left: 40px;
}
li{
    height: 40px;
    padding-top: 26px;
}
a{
    text-decoration: none;
}
#VideoFundo
{
    background-color:#e4f2f7;
    padding-top: 25px;
    border-radius: 20px;
    display:flex;
    width: 800px;
    height: 450px; 
    float:right;
    padding-right: 20%;
    padding-left: 20px;
    margin-right: 130px;
}