@charset "utf-8";
body
{
    background-image: linear-gradient(to right, #7FC9D6 0%, #7FC9D6 100%);
}
@font-face {
  
    font-family: "cursive";
    src: url(../HalfCat/Fontes/better_4/better\ -\ Peronal\ Use.otf);
}
h1
{
    font-family: "cursive";
    color: azure;
    font-size: 3em;
    text-align: center;
}

@font-face {
    font-family: "padrao";
    src: url(../HalfCat/Fontes/creato_display/CreatoDisplay-Thin.otf);
}
#Introducao
{
    font-family: "padrao";
    font-size: 17px;
    text-align:justify;
    background-color:#5BA5B2;
    padding: 40px;
    border-radius: 10px;
    text-indent: 4em;
}

@font-face {
    font-family: "Topicos";
    src: url(../HalfCat/Fontes/creato_display/CreatoDisplay-Black.otf);
}
#Inicio
{
<<<<<<< HEAD
    color:black;
    background-color: #5BA5B2;
    margin-left: 90px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 150px;
=======
    justify-content: center;
    color:black;
    background-color: #5BA5B2;
    text-align: center;
    text-decoration: none;
    padding-left: 2cm;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 6cm;
>>>>>>> d37525b53b387045903f40ee1ada1145f462726d
    border-radius: 10px;
    font-family: "Topicos";

}
#SobreOSite
{
<<<<<<< HEAD
    color:black;
    background-color: #47818B;
    margin-left: 90px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 200px;
    border-radius: 10px;
    font-family: "Topicos";
=======
    justify-content: center;
    text-align: center;
    align-items: center;
    color:black;
    text-decoration: none;
    background-color: #47818B;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10cm;
    border-radius: 10px;
    font-family: "Topicos";
}
#SobreNos
{
    color:black;
    background-color: #2E707B;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15cm;
    padding-right: 10px;
    border-radius: 10px;
    font-family: "Topicos";  
}
#WhiteCat
{
    font-family: "padrao";
    font-size: 17px;
    text-align:justify;
    background-color:#47818B;
    padding: 40px;
    border-radius: 10px;
    text-indent: 4em;
}
#Projeto
{
    font-family: "padrao";
    font-size: 17px;
    text-align:justify;
    background-color:#2E707B;
    padding: 40px;
    border-radius: 10px;
    text-indent: 4em;
}
#Sumario
{
<<<<<<< HEAD
    padding-top: 5cm;
    color: white
>>>>>>> d37525b53b387045903f40ee1ada1145f462726d
=======
    display: inline-block;
    width: 100px;
    height: 450px;
    background-color: aliceblue;
    text-align:left;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
li{
    height: 40px;
    padding-top: 20px;
}
a{
    text-decoration: none;
>>>>>>> 370e9ba543c0fa7fba35c4c03fcb230abfd87bc8
}